@model CuaHangBanLapTop.Models.Chitiethoadon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Chitiethoadon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdhoaDon" class="control-label"></label>
                <select asp-for="IdhoaDon" class="form-control" asp-items="ViewBag.IdhoaDon"></select>
                <span asp-validation-for="IdhoaDon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdsanPham" class="control-label"></label>
                <select asp-for="IdsanPham" class="form-control" asp-items="ViewBag.IdsanPham"></select>
                <span asp-validation-for="IdsanPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdphuKien" class="control-label"></label>
                <select asp-for="IdphuKien" class="form-control" asp-items="ViewBag.IdphuKien"></select>
                <span asp-validation-for="IdphuKien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongMua" class="control-label"></label>
                <input asp-for="SoLuongMua" class="form-control" />
                <span asp-validation-for="SoLuongMua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
